.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0D2538; /* Azul oscuro para la barra de navegación */
    color: #FFFFFF; /* Texto blanco para contrastar */
}

@media(width <= 800px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body {  
    background-color: #F2F2F2; /* Color de fondo claro para la página */
}

.link{
    color:  white;
    margin-left: 20px;
    font-size: 18px;
    text-decoration: none;
}
a:hover{
    font-size: x-large;
    
}
.buscar{
    height: 30px;
    border-radius: 10px;
    border-style: none;
    padding: 8px;
    font-size: 18px;
    transition: backgroung-color 0.3s aese;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el botón */
    cursor: pointer;
    margin-bottom: 10px;
}
